.search-container {
  /*styles for search container */
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 150px;
  margin-right: 150px;
  text-align: right;
}

.searchinput::placeholder {
  padding: 10px; /* Adjust the padding value as needed */
}
/* Set up a grid with 3 columns */
.article-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top:20px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 150px;
  
}

/* Style each article card */
.article-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.article-card p {
  flex-grow: 1;
  margin: 0px 20px 20px 20px; /*top bottom left right*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8; /* Change this to the number of lines you want to show */
  -webkit-box-orient: vertical;
}


.article-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.article-card img {
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.article-card h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 20px;
  font-weight: bold;
}



.article-card a {
  color: #333333;
  display: block;
  padding: 20px;
  text-align: right;
  text-decoration: none;
}

.article-card a:hover {
  color: #0066cc;
}

@media (max-width: 900px) {
  .search-container {
    margin-left: 30px;
    margin-right: 30px;
  }
  /* Switch to 2 columns on smaller screens */
  .article-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
    margin-top:20px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  /* Reduce the height of the article cards */
  .article-card img {
    height: 150px;
  }
  
  .article-card h2 {
    font-size: 1.2rem;
  }
  
  .article-card p {
    font-size: 0.9rem;
  }
  @media (max-width: 550px) {
    .search-container {
      margin-left: 40px;
      margin-right: 40px;
    }
    /* Switch to 2 columns on smaller screens */
    .article-grid {
      grid-template-columns: repeat(1, 1fr);
      margin-left: 40px;
    margin-right: 40px;
      
    }
}
}
