/* Responsive styles */
@media (max-width: 768px) {
  .agency {
    padding: 0 16px;
  }
}

/* Blog post styles */
.agency {
  margin: 90px auto 80px;
  max-width: 800px;
  padding: 0 64px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.055); /* Set the background color with transparency */
  backdrop-filter: blur(20px); /* Apply a blur effect to the background */
  border-radius: 10px; /* Add border radius for rounded corners */
}


.agency img {
  display: block;
  margin: 32px auto;
  max-width: 100%;
  border-radius: 50%; /* Make the image circular */
  width: 200px; /* Set the desired width of the circular image */
  height: 200px; /* Set the desired height of the circular image */
  object-fit: cover; /* Maintain the aspect ratio of the image */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  
}

.agency h2 {
  font-size: 36px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 16px;
  color: rgb(48, 48, 48);
 
}
.agency h4 {
  text-align: center;
 
}

.agency p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: justify;
}

.agency p:not(:last-child) {
  margin-bottom: 32px;
}

.agency a {
  color: rgb(1, 1, 59); /* Change the color of links */
}

.agency a:hover {
  color: rgb(4, 0, 245); /* Change the color of links on hover */
}

